<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="img/Logo HYS.png" width="100" height="70" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <form class="form-inline my-2 my-lg-0  "  method="POST" action="/cerrarsesion">
                    <button id="btnreserva" class="btn btn-danger">Cerrar Sesión</button>
                </form>
            </div>

        </nav>
    </div>
</header>