 <footer>
        <div class="container py-1">
            <div class="derechosr texto-footer text-center">
                <p>©2020 All Rights Reserved Hotel Yireth Shalom</p>
            </div>
    
    </footer>